
body {
    background-color: black;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }

.poster {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: "Libre Baskerville", serif;
    color: white;

}

.image-motivation {
    width: 100%;
    border: 3px solid yellow;
}